{% extends "layouts.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
  <div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>More Insight</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
            <li><a href="#">Pages</a> <i class="icon-angle-right"></i></li>
            <li class="active">About us</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="content">
    <div class="container">
      <div class="row">

        <div class="span6">
          <h4>{{ aboutus.title|upper }}</h4>
          <p class="d-inline p-2">
            {{ aboutus.content|safe }}
          </p>

        </div>

        <div class="span6">

          <div class="clearfix"></div>
            <aside class="right-sidebar">

              <div class="widget">
                <h5 class="widgetheading" style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">{{ foreword.title }}<span></span></h5>
                <img class="img-responsive img-circle pull-right" src="{% thumbnail foreword.photo 400x400 crop %}" style="margin-top: -10pt"/></a>
                  <blockquote>
                    {{ foreword.content|safe }}
                  </blockquote>
              </div>
            </aside>
        </div>
      </div>

      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline"></div>
        </div>
      </div>
      <!-- end divider -->
    </div>
  </section>
</div>

{% endblock content %}
