{% extends "layouts.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="inner-heading">
            <h2> SmartCare User statistics Dashboard</h2>
          </div>
        </div>
        <div class="span6">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
            <li><a href="#">smartcare</a> <i class="icon-angle-right"></i></li>
            <li class="active">Website statistics</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

    <div id="tracking-filters">
        <form method="GET">
            {{ form.as_table }}
            <input type="submit" name="submit" value="submit" />
        </form>
    </div>
    <div id="tracking-info">
        <p>
            Visitor tracking began on
            {{ track_start_time|date:"Y-m-d H:i:s" }}
        </p>
        {% if warn_incomplete %}
        <p class=warning>
            The start time precedes the oldest tracked visitor, thus
            the stats are not complete for the specified range.
        </p>
        {% endif %}
    </div>
    <div id="tracking-stats">
        {% include "tracking/snippets/stats.html" %}
    </div>
</div>
{% endblock content %}
