{% extends "layouts.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<div id="wrapper">

  <section id="inner-headline">
     <div class="container">
       <div class="row">
         <div class="span4">
           <div class="inner-heading">
             <h2>Download SmartCare</h2>
           </div>
         </div>
         <div class="span8">
           <ul class="breadcrumb">
             <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
             <li><a href="#">SmartCare</a> <i class="icon-angle-right"></i></li>
             <li class="active">Download</li>
           </ul>
         </div>
       </div>
     </div>
   </section>

   <div class="container">
      <div class="row" style="margin-top: 20pt">
      <div class="span6">
      <p class="lead"><u> Download a file of your choice<span></span></u></p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              Operating System
            </th>
            <th>
              Version Release
            </th>
            <th>
              Platform Type
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">
              1
            </td>
            <td>
              Windows
            </td>
            <td>
              5.0.6
            </td>
            <td>
              x64 bit | LTR
            </td>
          </tr>
          <tr>
            <td>
              Patch fixes
            </td>
            <td>
              5.6.5
            </td>
            <td>
              x64 bit | Stable
            </td>
          </tr>
          <tr>
            <td>
              2
            </td>
            <td>
              Mac OSX
            </td>
            <td>
              (^_^)
            </td>
            <td>
              . . .
            </td>
          </tr>
          <tr>
            <td>
              3
            </td>
            <td colspan="2">
              Linux (.deb)<span style="margin-left:60pt"> Coming Soon</span>
            </td>
            <td>
              . . .
            </td>
          </tr>
        </tbody>
      </table>
      </div>



              <div class="span6">

                <p class="lead" style="color:green"><b>Build Instructions</b></p>

                <div class="tabbable tabs-right">

                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#first" data-toggle="tab"><i class="icon-briefcase"></i> Step One</a></li>
                    <li><a href="#second" data-toggle="tab"><i class="icon-briefcase"></i> Step Two</a></li>
                    <li><a href="#third" data-toggle="tab"><i class="icon-briefcase"></i> Step Three</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="first">
                      <p>
                        <strong>Download Smartcare Installer</strong> Run the installer as administrator to install the system in windows.
                      </p>
                      <p>
                        Run the installer as administrator to install the system in windows. Run the installer as administrator to install the system in windows. Run the installer as administrator to install the system in windows.
                      </p>
                    </div>
                    <div class="tab-pane" id="second">
                      <p>
                        Set up your user accounts and permissions then activate, Set up your user accounts and permissions then activate,
                      </p>
                    </div>
                    <div class="tab-pane" id="third">
                      <p>
                        Enjoy the beautiful and yet efficient EHR system in your facility.
                      </p>
                      <p>
                         Enjoy the beautiful and yet efficient EHR system in your facility. Enjoy the beautiful and yet efficient EHR system in your facility.
                      </p>
                    </div>
                  </div>

                </div>
                <!-- end tab -->

              </div>

      </div>

      </div>
    </div>
<!-- divider -->
<div class="row">
<div class="span12">
<div class="solidline">
</div>
</div>
</div>
<!-- end divider -->
{% endblock content %}
