{% extends "layouts.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<!-- section intro -->
<section id="intro">
  <div class="intro-content">
    <h5 style="color:white; font-weight:bold">SmartCare EHR <i class="icon-stethoscope" style="color:white; font-weight:bold"></i></h5>
    <p style="color:white">Where every life matters to us and we try saving it.</p>
    <div style="margin-bottom: -40pt;">
      <a href="#" class="btn-get-started scrollto" data-toggle="modal" data-target="#exampleModal">Foreword by iDeas project Director</a>
    </div>

  </div>
</section>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> -->

          <div class="pricing-box-plain">
            <div class="heading">
              <h4 class="modal-title" id="exampleModalLabel" style="color:grey">{{ foreword.title }}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="desc">
              <ul>
                <p>
                  {{ foreword.content|truncatechars:800|safe }}
                </p>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <p><i>{{ foreword.owner }}</i></p>
          </div>
        </div>
      </div>
    </div>


<!-- /section intro -->

<section id="content">
  <div class="container">

    <div class="span3">
    <div class="row">

      <!--Chart Placement[2]-->
      <!-- <h4 style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">DEPLOYED</h3> -->

      <canvas id="myChart" width="50" height="50"></canvas>

      <script>
      var ctx = document.getElementById('myChart').getContext('2d');

      var myChart = new Chart(ctx, {
        // type: 'polarArea',
          type: 'doughnut',
          data: {
              labels: ['Lusaka', 'Southern', 'Eastern', 'Northern', 'Copperbelt', 'Western'],
              datasets: [{
                  label: '# of Votes',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: ''
      });
      </script>



        </div>
    </div>
    <div class="row">
      <div class="span8">

        <div class="aligncenter">
          <h3 style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">PARTNERS</h3>
        </div>
        <!-- style="color:#84c75b;"  -->
        <div class="row">
          {% for partner in partners %}
          <div class="span2">
            <div class="box aligncenter">
              <div class="icon">
                {% if partner.partner_type == "PT" %}
                  <span class="badge badge-warning badge-circled"><i class="icon-heart-empty"></i></span>
                {% endif %}
                {% if partner.partner_type == "SP" %}
                  <span class="badge badge-success badge-circled"><i class="icon-heart-empty"></i></span>
                {% endif %}
                {% if partner.partner_type == "OT" %}
                  <span class="badge badge-info badge-circled"><i class="icon-heart-empty"></i></span>
                {% endif %}
                <a href="{{ partner.url }}" target="_blank"><img src="{{ partner.logo.url }}" class="img-rounded" height='150' width='172' alt={{ partner.name|upper }}/></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>

<section id="offer">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <h3 style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">Our most recent works</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span3">
            <h6 style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">Are you wondering what SmartCare is?</h6>
            <p>
              Read about smartcare and find out what makes it a great platform in health.
            </p>
          </div>

          {% for recent in recent_stories %}
              <div class="span3">
                <div class="pricing-box-plain">
                  <div>
                    <p><b>
                      <a href="{% url 'content:success_detail' story_pk=recent.id %}">
                        {{ recent.title }}
                      </a>
                      </b>
                    </p>
                    <i><small>Published on: {{ recent.updated|date:"M, d, Y"}}</small></i>
                  </div>

                  <div class="desc">
                    <ul>
                      <p>
                      <small>
                          {{ recent.content|truncatechars:64|safe }}
                      </small>
                      </p>
                    </ul>
                  </div>
                  <div class="action">
                    <a href="{% url 'content:success_detail' story_pk=recent.id %}" class="btn btn-info">Go to details</a>
                  </div>
                </div>
              </div>

          {% endfor %}


        </div>

      </div>
    </div>

  </div>
</section>

{% endblock content %}
