{% extends "layouts.html" %}
{% load staticfiles %}
{% load disqus_tags %}


{% block content %}
  <div id="wrapper">
  <section id="inner-headline">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="inner-heading">
            <h2>Technology Stack</h2>
          </div>
        </div>
        <div class="span8">
          <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <i class="icon-angle-right"></i></li>
            <li><a href="#">smartcare</a> <i class="icon-angle-right"></i></li>
            <li class="active">Technology Stack</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="content">
    <div class="container">
      <div class="row">

        <div class="span8">
          <h4>{{ technology_stack.title|title }}</h4>
          <p class="d-inline p-2">
            {{ technology_stack.content|safe }}
          </p>

        </div>

        <div class="span4">

          <div class="clearfix"></div>
            <aside class="right-sidebar">

              <div class="widget">
                <h5 class="widgetheading" style="color: black;font-weight: normal !important;font-size: 2.4em !important; margin-bottom: 30px;">New Notifications<span></span></h5>
                  <blockquote>
                    Coming soon ...
                  </blockquote>
              </div>
            </aside>
        </div>
      </div>

      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline"></div>
        </div>
      </div>
      <!-- end divider -->

      {% disqus_show_comments %}

      <script id="dsq-count-scr" src="//smartcare.disqus.com/count.js" async></script>

      <!-- divider -->
      <div class="row">
        <div class="span12">
          <div class="solidline"></div>
        </div>
      </div>
      <!-- end divider -->
    </div>
  </section>
</div>

{% endblock content %}
