{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> SmartCare - saving lives </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!-- Theme skin -->
  <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>




  <div id="wrapper">

      {% block head %}
          <!-- start header -->
          <header>
            <div class="top">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <ul class="topmenu">
                      <li><a href="#">Home</a> &#47;</li>
                      <li><a href="#">Terms</a> &#47;</li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>
                  <div class="span6">

                    <ul class="social-network">
                      <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div class="container">


              <div class="row nomargin">
                <div class="span4">
                  <div class="logo">
                    <h1><a href="/"> <img src="{% static 'img/coa.png' %}" height='50' width='50' style="margin-top:-15pt; margin-bottom:2pt"/> SmartCare</a></h1>
                  </div>
                </div>
                <div class="span8">
                  <div class="navbar navbar-static-top">
                    <div class="navigation">
                      <nav>
                        <ul class="nav topnav">
                          <li class="active">
                            <a href="{% url 'content:about' %}">Insight</a>
                          </li>
                          <li class="dropdown">
                            <a href="#"> Explore <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'content:success' %}">Success Stories</a></li>
                              <li><a href="typography.html">Data Warehouse</a></li>
                              <li><a href="icons.html">Partners</a></li>

                            </ul>
                          </li>

                          <!-- <li class="dropdown">
                            <a href="#">Pages <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="about.html">About us</a></li>
                              <li><a href="pricingbox.html">Pricing boxes</a></li>
                              <li><a href="404.html">404</a></li>
                            </ul>
                          </li> -->
                          <!-- <li class="dropdown">
                            <a href="#">Portfolio <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                              <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                              <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                              <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                            </ul>
                          </li> -->
                          <!-- <li class="dropdown">
                            <a href="#">Blog <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                              <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                              <li><a href="post-left-sidebar.html">Post left sidebar</a></li>
                              <li><a href="post-right-sidebar.html">Post right sidebar</a></li>
                            </ul>
                          </li> -->
                          <li class="dropdown">
                            <a href="#"><i class="icon-cloud-download"></i> Changelog <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="typography.html">SmartCare Release Notes  <i class="icon-lightbulb"></i></a></li>
                              <li><a href="typography.html">Download SmartCare  <i class="icon-download"></i></a></li>
                              <li><a href="typography.html">Extra Resources  <i class="icon-bell"></i></a></li>
                            </ul>
                          </li>

                          <li class="dropdown">
                            <a href="#"><i class="icon-medkit"></i> SmartCare <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="typography.html">Product Overview</a></li>
                              <li><a href="components.html">Functional Modules</a></li>
                              <li><a href="icons.html">Technology Stack</a></li>
                              <li><a href="icon-variations.html">Development Pipeline</a></li>
                              <li><a href="icon-variations.html">Technical Updates</a></li>
                              <li><a href="icon-variations.html">Deployment</a></li>
                              <li><a href="icon-variations.html">Training</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="/contact">Contact </a>
                          </li>

                             <li class="dropdown">
                            <a href="#"><i class="icon-user-md"> Account </i><i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">

                                {%  if request.user.is_authenticated and request.user.is_staff %}
                                      <li><a href="/site-admin">Admin</a></li>
                                      <li><a href="/accounts/logout/">Logout</a></li>
                                    {% elif request.user.is_authenticated %}
                                      <li><a href="/accounts/logout/">Logout</a></li>
                                    {% else %}
                                    <li><a href="/accounts/login/">Login</a></li>
                                      <li><a href="accounts/singup/">Sign Up</a></li>
                                {% endif %}
                            </ul>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <!-- end navigation -->
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- end header -->
      {% endblock head %}

      {% block content %} {% endblock content %}

      <footer>
        {% block footer %}
            <div class="container">
              <div class="row">
                <div class="span4">
                  <div class="widget">

                    <address>
      							  <strong>Broadreach Corperation.</strong><br>
        							UTH CDC building, first floor
        						</address>
                    <p>
                      <i class="icon-phone"></i> +260-976-516-789 <br>
                      <i class="icon-envelope-alt"></i> info@brhc.com
                    </p>
                  </div>
                </div>
                <div class="span4">
                  <div class="widget">
                    <h5 class="widgetheading">Browse pages</h5>
                    <ul class="link-list">
                      <li><a href="#">Our company</a></li>
                      <li><a href="#">Terms and conditions</a></li>
                      <li><a href="#">Privacy policy</a></li>
                      <li><a href="#">Press release</a></li>
                      <li><a href="#">What we have done</a></li>
                      <li><a href="#">Our support forum</a></li>
                    </ul>

                  </div>
                </div>
                <div class="span4">
                  <div class="row">
                  <div class="footer_logo">
                    <h3 class="pull-right"><a href="index.html"><img src="{% static 'img/brhc.png' %}" height='200' width='200'style="background-color:rgba(201, 76, 76, 0.3)"/></i></a></h3>
                  </div>
                </div>
                  <div class="about-links">
                    <p>
                        <a href="/">Home</a> |
                        <a href="/success_stories">Success Stories</a> |
                        <a href="/contact">Contact Us</a> |
                        <a href="#">Changelog &amp; Resources</a> |
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div id="sub-footer">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <div class="copyright">
                      <p><span>&copy; Broadreach Corp. All right reserved</span></p>
                    </div>

                  </div>

                  <div class="span6">
                    <div class="credits">
                      <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                      -->
                      Made with <img src="{% static 'img/mwl.png' %}" height="15" width="15"/> by <a href="https://www.broadreachcorporation.com/">Broadreach Corperation</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock footer %}
        </footer>
  </div>


  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>
  <script src="{% static 'js/toucheffects.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'js/portfolio/setting.js' %}"></script>
  <script src="{% static 'js/animate.js' %}"></script>

  <!-- Template Custom JavaScript File -->
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
