{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> SmartCare - saving lives </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!-- Theme skin -->
  <link id="t-colors" href="{% static 'color/default.css' %}" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="#" />

  <!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="wrapper">

      {% block head %}
          <!-- start header -->
          <header>
            <div class="top">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <ul class="topmenu">
                      <li><a href="#">Home</a> &#47;</li>
                      <li><a href="#">Terms</a> &#47;</li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>
                  <div class="span6">

                    <ul class="social-network">
                      <li><a href="https://www.facebook.com/smartcare.zambia" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                      <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row nomargin">
                <div class="span4">
                  <div class="logo float-left">
                    {% load thumbnail %}
                    <div cass="nav logo">
                      <a href="/"><img src="{% static 'img/coa.png' %}" class="img-rounded" height='70' width='65' style="image-rendering: crisp-edges;float:left; margin-bottom: -50pt; margin-right: 40pt;margin-top: -10pt; background-blend-mode: screen;"/></a>
                      <a href="/"><img src="{% static 'img/cdc.png' %}" class="img-circle" height='200' width='150' style=";image-rendering: crisp-edges; margin-bottom: -10pt;margin-left: 60pt; margin-top: -2pt; background-color: inherit; background-blend-mode: screen;"/></a>
                    </div>
                  </div>
                </div>
                <div class="span8">
                  <div class="navbar navbar-static-top">
                    <div class="navigation">
                      <nav>
                        <ul class="nav topnav">
                          <li class="active">
                            <a href="/about">Insight</a>
                          </li>
                          <li>
                            <a href="/success"> Blog</a>
                          </li>
                          <li>
                            <a href="/sponsors"> Sponsors & Hubs</a>
                          </li>
                            <!-- <a href="#"> Blog<i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'content:success' %}">Success Stories</a></li>
                              <li><a href="typography.html">Data Warehouse</a></li>
                              <li><a href="icons.html">Partners</a></li>

                            </ul>
                          </li> -->





                          <!-- <li class="dropdown">
                            <a href="#">Pages <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="about.html">About us</a></li>
                              <li><a href="pricingbox.html">Pricing boxes</a></li>
                              <li><a href="404.html">404</a></li>
                            </ul>
                          </li> -->
                          <!-- <li class="dropdown">
                            <a href="#">Portfolio <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                              <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                              <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                              <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                            </ul>
                          </li> -->
                          <!-- <li class="dropdown">
                            <a href="#">Blog <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                              <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                              <li><a href="post-left-sidebar.html">Post left sidebar</a></li>
                              <li><a href="post-right-sidebar.html">Post right sidebar</a></li>
                            </ul>
                          </li> -->

                          <li class="dropdown">
                            <a href="#"><i class="icon-medkit"></i> SmartCare <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="{% url 'content:overview' %}">Product Overview</a></li>
                              <li><a href="{% url 'content:functional_modules' %}">Functional Modules</a></li>
                              <li><a href="{% url 'content:technology_stack' %}">Technology Stack</a></li>
                              <li><a href="{% url 'content:deployment_pipeline' %}">Development Pipeline</a></li>
                              <!-- <li><a href="{% url 'content:technical_updates' %}">Technical Updates</a></li> -->
                            </ul>
                          </li>

                          <li class="dropdown">
                            <a href="#"><i class="icon-cloud-download"></i> Versions <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="/under-development">SmartCare Release Notes  <i class="icon-lightbulb"></i></a></li>
                              <li><a href="{% url 'content:download'  %}">Download SmartCare  <i class="icon-download"></i></a></li>
                              <li><a href="/under-development">Extra Resources  <i class="icon-bell"></i></a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="/contact">Contact </a>
                          </li>

                             <li class="dropdown">
                            <a href="#"><i class="icon-user-md"></i> Account <i class="icon-angle-down"></i></a>
                            <ul class="dropdown-menu">

                                {%  if request.user.is_authenticated and request.user.is_staff %}
                                    <li><a href="/tracking/">Site tracking statistics</a></li>
                                      <li><a href="/site-admin">Admin</a></li>
                                      <li><a href="/accounts/logout/">Logout</a></li>
                                    {% elif request.user.is_authenticated %}
                                      <li><a href="/accounts/logout/">Logout</a></li>
                                    {% else %}
                                    <li><a href="/accounts/login/">Login</a></li>
                                      <li><a href="accounts/singup/">Sign Up</a></li>
                                {% endif %}
                            </ul>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <!-- end navigation -->
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- end header -->
      {% endblock head %}

      {% block content %} {% endblock content %}

      <footer>
        {% block footer %}
            <div class="container">
              <div class="row">
                <div class="span4">
                  <!-- <div class="row">
                  <div class="footer_logo">
                    <h3 class="pull-left"><a href="index.html"><img src="{% static 'img/brhc.png' %}" height='40' width='100'style="background-color:rgba(201, 76, 76, 0.3); margin-right:-20pt"/></i></a></h3>
                  </div>
                </div> -->
                  <div class="widget">

                    <address>
      							  <a href="http://www.moh.gov.zm/"><strong>The Ministry of Health</strong></a><br>
        							Ndeke House, Haile Selassie Avenue,<br>
                      PO Box 30205, Lusaka,<br>
                      Zambia.
        						</address>
                    <p>
                      <i class="icon-phone"></i> +260-211 253040-5 <br>
                      <i class="icon-envelope-alt"></i> info@mog.gov.zm
                    </p>
                  </div>
                </div>
                <div class="span4">
                  <div class="widget">
                    <h5 class=" widgetheading"></h5>
                    <div class="about-links">
                      <p>
                          <a href="/" style="font-size: 12px">Home</a> |
                          <a href="#" style="font-size: 12px">Helpdesk System</a> |
                          <a href="/contact" style="font-size: 12px">Contact Us</a> |
                          <a href="/download" style="font-size: 12px">Versions &amp; Resources</a>
                      </p>
                    </div>

                  </div>
                </div>
                <div class="span4">
                  <div class="row">
                  <!-- <div class="footer_logo"> -->
                    <!-- <img src="{% static 'img/brhc.png' %}" class="img-rounded" height='200' width='150' style="image-rendering: crisp-edges; padding-bottom: 10pt;padding-left: 100pt;padding-top: 25pt;"/> -->
                    <!-- <img src="{% static 'img/coa.png' %}" class="img-rounded float-left" height='100' width='80' style="image-rendering: crisp-edges;float:right; margin-bottom: -10pt; padding-right: -20pt;"/> -->
                    <!-- </div> -->
                </div>
                </div>
              </div>
            </div>
            <div id="sub-footer">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <div class="copyright">
                      <p style="font-size:12pt;"><span>&copy; <a href="http://www.moh.gov.zm/" target="_blank"> Ministry of Heath</a>. All right reserved</span></p>
                    </div>

                  </div>

                  <div class="span6">
                    <div class="credits">
                      <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                      -->
                      Powered <i class="fa fa-cog fa-spin" style="font-size:18px; color:#84c75b;"></i> by <a href="https://www.broadreachcorporation.com/" target="_blank"><span style="font-size: 12pt;">BroadReach Consulting</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock footer %}
        </footer>
  </div>


  <a href="#" class="scrollup"><i class="icon-angle-up icon-rounded icon-bglight icon-2x"></i></a>

  <!-- javascript
    ================================================== -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/modernizr.custom.js' %}"></script>
  <script src="{% static 'js/toucheffects.js' %}"></script>
  <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'js/portfolio/setting.js' %}"></script>
  <script src="{% static 'js/animate.js' %}"></script>
  <!-- Template Custom JavaScript File -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>

</body>

</html>
